{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "react",
    "react-router-dom",
    "styled-components",
    "^@/page/(.*)$",
    "^@/component/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
