.storybook-button {

}
.storybook-card--primary {

}
.storybook-card--secondary {

}
.storybook-card--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-card--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-card--large {
  font-size: 16px;
  padding: 12px 24px;
}