.post-wrapper {
  width: 375px;
  padding: 0 16px;
}

.post-wrapper header {
  display: flex;
  justify-content: space-between;
}

.post-header-right {
  display: flex;
  gap: 12px;
}

.post-wrapper main {
  display: flex;
}