.post-wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  padding: 0 1.6em;
}

.post-wrapper header {
  display: flex;
  justify-content: space-between;
}

.post-header-right {
  display: flex;
  gap: 1.2em;
}

.post-wrapper main {
  display: flex;
}
